<div class="card">
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="pNombre">Pirmer nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="sNombre">Segundo nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="pApellido">Primer apellido</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="sApellido">Segundo apellido</label>
                <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="celualr">Celular</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="evento">Evento al que asistirá</label>
                <select name="" id="" class="form-control"></select>
            </div>
            <br>
            <button class="btn btn-primary btn-block">Enviar</button>
        </form>
    </div>
</div>