<div class="card mb-2">
    <div class="card-header d-flex justify-content-between
    aling-item-center">
        <label for="">Nombre Evento: {{event.nombreE}}</label> 
        <label for="">Descripción: {{event.descripcionE}}</label> 
        <label for=""># de Participantes Inscritos: {{event.nParcticipantes}}</label>
        <div>
            <button class= "btn btn-primary">Participantes Inscritos</button>
            <!-- <button class= "btn btn-danger">Delete</button> -->
        </div>
    </div>
    <div class="card-body " [hidden] = "false">
        <app-partaker-list [event] = "event"></app-partaker-list>
    </div>
</div>